
* {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    list-style: none;
    outline: none;
    text-decoration: none;
    border-bottom: none;
    padding: 0%;
    margin: 0%;
    text-align: left;
    font-size: 16pt;
}
body {
    background-color: #F6E7E7;
}

/* Buscador */
#buscador {
    clear: both;
    float: right;
    display: flex;
    gap: 30px;
    margin-top: 40px;
    padding-right: 200px;
}
button.boton {
    background-color: #ECD7DD;
    border-radius: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

/* este es el menu de navegacion */
.container {
    width: 250px;
    max-width: 250px;
    background-color: #ECCAD3;
    height: 100vw;
    display: grid;
}

 /* este es el logo de la pagina */
div.Logo {
    margin-top: 52px ;
    padding-bottom: 100px ;
    margin-left: 52px;
}

/* esta es la alineacion de las listas */
.container nav li {
    text-decoration: none;
    font-size: 16pt;
    padding-bottom: 48px;
    margin-left: 52px;
}

/* este es el espaciado de las listas */
ul.nav {
    font-size: 12pt;
    padding-bottom: 300px;
}
img.agregar {
    margin-left: 50px;
}

/* esta es la alineacion de la ultima lista con las imagenes */
div.botones_nav  {
        display: flex;
       justify-content: center;
}
img.Logout {
    width: 20px;
    height: 20px;
}
div.botones_nav {
    display: flex;
    justify-content: center;
}
img.ajustes {
    width: 29px;
    height: 29px;    
}


/* Keep listening */
section.Keep {
    position: absolute;
    left: 350px;
    top: 190px;  
}

/* titulo del keep listening */
h1.titulo {
    font-size: 36pt;
    padding-bottom: 30px;
    font-weight: bold;   
}

/* imagen de el album */
section.Keep img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
div.principal img {
    width: 200px;
    height: 200px;
}
div.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
   
/* blackpink song */
section.canciones {
    display: grid;
    position: absolute;
    right: 100px;
    top: 230px;
}
h2.BlackPink {
    font-size: 24pt;
    font-weight: bold;
    padding-bottom: 60px;
    margin-left: 40px;
}
div.alinear {   
    display: flex;
    padding: 60px;
    justify-content: space-between;
}
div.Favoritos { 
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 100px;
}
div.scroll {
    width: 700px;
    height: 450px;
    overflow-y: scroll;
}

/* recomendaciones */
section.recomendaciones {
    position: absolute;
    left: 350px;
    top: 1100px;
}
section.recomendaciones img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
}
section.recomendaciones h2 {
    font-size: 24pt;
    padding-bottom: 50px;
}
div.albunes {
    display: flex;
    gap: 80px;
}
h3.subtitulo {
    font-size: 16pt;
    font-weight: bold;
}
p.Artista {
    font-size: 12pt;
}

/* current song */
footer.footer {
    position: sticky;
    background-color: #8B385B;
    opacity: 90%;
    width: 98%;
    bottom: 20px;
    margin: 20px;
    padding: 30px;
}
div.song {
    display: flex;
    align-items: center;
}
div.song p {
    color: #ECD7DD;
    font-size: 12pt;
}
div.Love img {
    width: 150px;
    height: 150px;
    border-radius: 10px;   
}
h3.titulocancion {
    color: #FC7E9F;
    position: absolute;
    padding-left: 20px;
    top: 40px;
}
p.grupo {
    padding-left: 20px;
    position: absolute;
    top: 80px;
}
div.Barra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   padding-left: 400px;
}
div.reproductor {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 10px;
    height: 10px;
    gap: 80px;
    padding-left: 300px;
}
